<div id="pronote-wrapper">
  {{ user.name }}<br />
  {{ localizedTimetableDay }}
  <table class="pronote-timetable">
    {% for class in timetable %}
      {% if not class.isAway %}
        <tr>
          <td class="pronote-class-schedule">{{ class.localizedFrom }} - {{ class.localizedTo }}</td>
          <td class="pronote-class-subject">
            <span class="{% if class.isCancelled %}pronote-class-cancelled{% endif %}">{{ class.subject }}</span>
            {% if class.isCancelled %}
              <em>(cours annulé)</em>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
  </table>
</div>
