<div id="pronote-wrapper">
  {{ name }} ({{ class }}) <br />
  Cours de la journée (@bugsounet test):
  <table class="pronote-timetableOfTheDay">
    {% for class in timetableOfTheDay %}
      {% if not class.isAway %}
        <tr>
          <td class="pronote-class-schedule">{{ class.fromHour }} - {{ class.toHour }}</td>
          <td class="pronote-class-subject">
            <span class="{% if class.isCancelled %}pronote-class-cancelled{% endif %}">{{ class.subject }}</span>
            {% if class.isCancelled %}
              <em>(cours annulé)</em>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
  </table>

  {{ timetableOfNextDay.localizedTimetableDay }}
  <table class="pronote-timetableOfNextDay">
    {% for class in timetableOfNextDay.timetable %}
      {% if not class.isAway %}
        <tr>
          <td class="pronote-class-schedule">{{ class.localizedFrom }} - {{ class.localizedTo }}</td>
          <td class="pronote-class-subject">
            <span class="{% if class.isCancelled %}pronote-class-cancelled{% endif %}">{{ class.subject }}</span>
            {% if class.isCancelled %}
              <em>(cours annulé)</em>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
  </table>
</div>
