{% if userData.absences|length > 0 %}
  <div id="PRONOTE_ABSENCES">
      <div class="PRONOTE_TEXT_UNDERLINE">Absences</div>

      {% set count = 0 %}
      {% for absences in userData.absences %}
          {% if count < config.Absences.number %}
              <div class="PRONOTE_DETAIL">
                  {% if absences.justified %}
                    <div class="PRONOTE_ABSENCES_DONE">✓</div>
                  {%else %}
                    <div class="PRONOTE_ABSENCES_NOTDONE">⁉️</div>
                  {% endif %}
                  <div class="PRONOTE_HOURS">
                      {% if absences.oneDay %}
                        Le {{ absences.day }} de {{ absences.fromHour }} à {{ absences.toHour }}
                      {% else %}
                        Du {{ absences.localizedFrom }} au {{ absences.localizedTo }}
                      {% endif %}
                  </div>
                  <div class="PRONOTE_VALUES">
                    {% if absences.justified %}
                      {{ absences.reason }}
                    {% else %}
                      Absence non justifiée
                    {% endif %}
                  </div>
              </div>
          {% endif %}
          {% set count = count + 1 %}
      {% endfor %}
  </div>
{% endif %}
