<div id="PRONOTE_HOLIDAYS">
    <div class="PRONOTE_TEXT_UNDERLINE">Prochaines vacances & jours fériés</div>

    {% set count = 0 %}
    {% for holidays in userData.holidays %}
        {% if count < config.Holidays.number %}
            <div class="PRONOTE_DETAIL">
                <div class="PRONOTE_HOURS">
                    {% if holidays.formattedFrom == holidays.formattedTo %}
                        Le {{ holidays.formattedFrom }} (jour férié)
                    {% else %}
                        Du {{ holidays.formattedFrom }} au {{ holidays.formattedTo }}
                    {% endif %}
                </div>
                <div class="PRONOTE_VALUES">
                    {{ holidays.name }}
                </div>
            </div>
        {% endif %}
        {% set count = count + 1 %}
    {% endfor %}
</div>
