<div id="PRONOTE_HOMEWORKS">
    <div id="PRONOTE_TEXT_UNDERLINE">Devoirs {% if not config.Homeworks.displayDone %}à faire{% endif %} :</div>

    {% for homework in userData.homeworks %}
        {% if (homework.done and config.Homeworks.displayDone) or not homework.done  %}
            <div id="PRONOTE_DETAIL">
                <div id="PRONOTE_HOURS">{{ homework.formattedFor }} {% if homework.done %}✓{% else %}🕒{% endif %}</div>
                <div id="PRONOTE_HOMEWORKS_VALUES">
                    {{ homework.subject }}
                </div>
                {% if config.Homeworks.displayDescription %}
                    <div id="PRONOTE_VALUES_DESCRIPTION">{{ homework.description }}</div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
