<div id="PRONOTE_HOMEWORKS">
    <div class="PRONOTE_TEXT_UNDERLINE">Devoirs {% if not config.Homeworks.displayDone %}à faire{% endif %}</div>

    {% if userData.homeworks|length == 0 %}
      Pas de devoirs !
    {% else %}

      {% set homeworkDate = null %}
      {% for homework in userData.homeworks %}
          {% if homeworkDate !== homework.formattedFor %}
              <div class="PRONOTE_HOMEWORKS_DATE">
                  <span>Pour {{ homework.formattedFor }}</span>
              </div>
              {% set homeworkDate = homework.formattedFor %}
          {% endif %}
          {% if (homework.done and config.Homeworks.displayDone) or not homework.done  %}
              <div class="PRONOTE_DETAIL">
                  {% if config.Homeworks.displayDone %}
                      <div class="PRONOTE_HOMEWORKS_DONE">{% if homework.done %}✓{% endif %}</div>
                  {% endif %}
                  <div class="PRONOTE_HOMEWORKS_VALUES">
                      {{ homework.subject }}
                  </div>
                  {% if config.Homeworks.displayDescription %}
                      <div class="PRONOTE_VALUES_DESCRIPTION">{{ homework.description }}</div>
                  {% endif %}
              </div>
          {% endif %}
      {% endfor %}

    {% endif %}
</div>
