<div id="PRONOTE_MARKS">
    <div class="PRONOTE_TEXT_UNDERLINE">Dernières notes:</div>
    {% for subject in userData.marks.subjects %}
        <div class="PRONOTE_SUBJECT">
            <div class="PRONOTE_SUBJECT_VALUE">
                {{ subject.name }}
                {% if config.Marks.displayAverage %}
                    (Moyenne : {{ subject.averages.student.toFixed(2) }})
                {% endif %}
            </div>
            {% for mark in subject.marks %}
                <div class="PRONOTE_DETAIL">
                    <div class="PRONOTE_HOURS">{{ mark.formattedDate }}</div>
                    <div class="PRONOTE_VALUES">{{ mark.title }}</div>
                    <div class="PRONOTE_VALUES highlight">{{ mark.value }}/{{ mark.scale }}</div>
                    {% if config.Marks.displayCoeff %}
                        <div class="PRONOTE_VALUES">
                            Coeff : {{ mark.coefficient }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
