{% for class in timetable %}
    {% set cancelled = class.isCancelled or class.isAway %}
    {% if not cancelled or (cancelled and not class.hasDuplicate) %}
        <div class="PRONOTE_DISPLAY_TIMETABLE">
            <div class="PRONOTE_HOURS {% if cancelled %}cancelled{% endif %}">
                {{ class.localizedFrom }}-{{ class.localizedTo }}
            </div>
            <div class="PRONOTE_VALUES highlight {% if cancelled %}cancelled{% endif %}">
                {{ class.subject }}
            </div>
            {% if config.Timetables.displayTeacher and class.teacher | length > 0 %}
                {% if not cancelled %}
                  <div class="PRONOTE_TEACHER">Avec {{ class.teacher }}</div>
                {% endif %}
            {% endif %}
            {% if config.Timetables.displayRoom and class.room | length > 0 %}
                {% if not cancelled %}
                  <div class="PRONOTE_ROOM">[{{ class.room }}]</div>
                {% endif %}
            {% endif %}
            {% if class.isCancelled %}
                <div>(Cours annulé)</div>
            {% endif %}
            {% if class.isAway %}
                <div>(Prof. absent)</div>
            {% endif %}
            {% if class.status and not cancelled %}
                <div>({{ class.status }})</div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
