{% for class in timetable %}
    {% set cancelled = class.isCancelled or class.isAway %}
    {% if not cancelled or (cancelled and not class.hasDuplicate) %}
        <div class="PRONOTE_DISPLAY_TIMETABLE">
            <div class="PRONOTE_HOURS" {% if cancelled %}class="cancelled"{% endif %}>
                {{ class.localizedFrom }}-{{ class.localizedTo }}
            </div>
            <div class="PRONOTE_VALUES highlight" {% if cancelled %}class="cancelled"{% endif %}>
                {{ class.subject }}
            </div>
            {% if config.Timetables.displayTeacher and class.teacher | length > 0 %}
                <div class="PRONOTE_TEACHER">Avec {{ class.teacher }}</div>
            {% endif %}
            {% if config.Timetables.displayRoom and class.room | length > 0 %}
                <div class="PRONOTE_ROOM">[{{ class.room }}]</div>
            {% endif %}
            {% if class.isCancelled %}
                <div>(Cours annulé)</div>
            {% endif %}
            {% if class.isAway %}
                <div>(Absent)</div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
